*
{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.hero
{
  width: 100%;
  height: 100vh;
  background-image: url('image/background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.logo
{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
}
.navbar{
  width: 85%;
  height: 15%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button
{
  color: aliceblue;
  padding: 10px 25px;
  background:transparent;
  border: 1.5px solid #fff;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
} 

.content
{
  color: aliceblue;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 2;
}

h1
{
  font-size: 80px;
  margin: 10px 0 30px;
}

.side-bar
{
  width: 70px;
  height: 100vh;
  background: linear-gradient(#0d3b53,#143c52);
  position: absolute;
  top: 0;
  right: 0;
}

.menu
{
  display: block;
  width: 25px;
  margin: 40px auto 0;
  cursor: pointer;
}

.social-links img, .useful-links background-img
{
  width: 35px;
  margin: 5px 20px;
  cursor: pointer;
}

.social-links
{
  width: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.useful-links
{
  width: 50px;
  text-align: center;
  position: absolute;
  bottom: 10px;
}

.fish img
{
  width: 200px;
  height: 100px;
  animation: fish 7s linear infinite;
}

.fish f1
{
  position: absolute;
  top: 200px;
  left: -200px;
  animation-delay: 3s;
  width: 500px;
  height: 350px;
}

.fish .f2
{
  position: absolute;
  top: 270px;
  left: -200px;
  animation-delay: 5s;
  width: 100px;
  height: 50px;
}

.fish .f3
{
  position: absolute;
  top: 300px;
  left: -200px;
  animation-delay: 1s;
  width: 250px;
  height: 100px;
}

.fish .f4
{
  position: absolute;
  top: 700px;
  left: -200px;
  animation-delay: 9s;
}

.fish .f5
{
  position: absolute;
  top: 50px;
  left: -200px;
  animation-delay: 2s;
}

@keyframes fish
{
  0%
  {
    transform: translateX(0);
    opacity: 0;
  }

  10%
  {
    opacity: 1;
  }

  90%
  {
    opacity: 1;
  }

  100%
  {
    transform: translateX(2100px);
    opacity: 1;
  }
}

.bubbles{
  position:absolute;
  width:100%;
  height: 100%;
  z-index:0;
  overflow:hidden;
  top:0;
  left:0;
}
.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background:#000000;
  border-radius:50%;
  opacity:0.5;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
  width:40px;
  height:40px;
  left:10%;
  animation-duration:8s;
}
.bubble:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width:15px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width:90px;
  height:90px;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}
